body {
  margin: 0;
}
.card {
  width: 18rem;
}
.btnAddToCar , .btn-form-login, .btn-form-register{
  background-color: rgb(82, 185, 253);
  color: white;
}
.bg-color {
  background: black;
  margin: 0;
  padding: 15px;
}
.itemHover {
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 10px;
  text-decoration: none;
}
.itemHover:hover {
  border-radius: 10%;
  color: white;
  text-decoration: underline;
}
.btn-icon-trash{
  color: rgb(82, 185, 253);
}
.itemListOfCar{
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  padding: 3px;
  margin: 10px;
}
.card:hover{
  border: 3px solid rgb(82, 185, 253);
}
.formLogin, .formRegister{
  margin: 200px;
}
