body {
  margin: 0;
  background-image: src("./assets/images/flowerDark.png");
}
.card {
  width: 18rem;
}

.bg-color {
  background: rgb(82, 185, 253);
  margin: 0;
  padding: 15px;
}
.itemHover {
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 10px;
  text-decoration: none;
}
.itemHover:hover {
  border-radius: 4%;
  color: white;
  text-decoration: underline;
}

#navBarTop {
  position: sticky;
  top: 0;
  z-index: 100;
}
